# Ignora i file di sistema Mac
.DS_store

# Ignora la cartella backup
backup

# Ignora i file compilati ed i file object
Build
GLeDitor3
GLeDitor3.dSYM

# Ignora i file di backup di gleditor
*~

# Ignora tutti i file di risorse e di configurazioni locali lazarus
*.res

# Altri specifici file da ignorare...
gledit-gdb.lps
gledit-lldb.lps
GraphicResources/wip.xcf